*{

    margin: 0px;
}

#div1{

background-color: rgb(0, 225, 115);
height: 150px;
width: auto;
border: 2px solid red;

}

#div11{

background-color: white;
margin: 55px 540px;
font-size: 30px;
font-family: sans-serif;
color: red;

}

#div2{

    background-color: yellow;
    height: 700px;
    width: auto;
    padding-top: 10px;
    margin-top: 3px;
    border: 2px solid red;

    font-family: sans-serif;

}

#div21{

    background-color: brown;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    
}

#div22{

    background-color: rgb(80, 20, 122);
    height: 80px;
    width: 300px;
    margin-left: 25px;
    margin-top: 20px;

}

#div23{

    background-color: rgb(23, 40, 127);
    height: 80px;
    width: 330px;
    margin-left: 25px;
    margin-top: 20px;
    padding-left: 20px;
}

#div24{

    background-color: rgb(204, 39, 13);
    height: 80px;
    width: 350px;
    margin-left: 390px;
    margin-top: 20px;

}

#div25{

    background-color: rgb(160, 217, 80);
    height: 80px;
    width: 350px;
    margin-left: 825px;
    margin-top: 20px;
    padding-left: 20px;

}

#div3{

    background-color: rgb(255, 255, 255);
    height: 20px;
    width: 1frpx;

}

#div4{

    background-color: rgb(255, 0, 0);
    height: 20px;
    width: 1fr;
    text-align: center;
    font-family: sans-serif;

}

#div5{

    background-color: lightgreen;
    height: 50px;
    width: auto;

}
