body, html{

    background-color: blue;
    font-family: georgia;

}

.box{
    background-color: black;
    border: 10px solid black;
    height: 690px;
    display: grid;
    grid-template-areas: "tituloimg titulo"
                         "menue conteudo";
    grid-template-rows: 100px 1fr;
    grid-template-columns: 200px 1fr;
}

.titulo{

    background-color:cyan;
    grid-area: titulo;
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
}

.tituloimg{

    background-image: url(img01.jpeg);
    background-color: cyan;
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: 55px 20px;
    display: inline-block;

}

h1{

    margin: 0 auto;

}

img{
    width: 60px;
    margin:15px 10px;

}

.menue{

    background-color: gray;
    grid-area: menue;
    text-align: center;
    font-size: 20px;
    padding-top: 20px;

}

.conteudo{

    background-color: white;
    grid-area: conteudo;
    font-size: 20px;
    padding: 5px 5px;
}