*{
    margin: 0;
}

#div1{

background-color: rgb(255, 255, 0);
opacity: 75%;
height: 100px;
width: 1600px;
background-image: url(img01.jpeg);
background-repeat: no-repeat;
background-position: 1200px 10px;
background-size: 180px;
padding-top: 20px;
border-style:2px;
border: solid black;

}
#div11{

    background-color:white;
    height: 50px;
    width: 300px;
    margin-left: 30px;
    text-align: center;
    font-size: 20px;
    padding-top:20px;
    border-style:2px;
    border: solid black;
    
}

#div2 {

    background-color: rgb(255, 251, 135);
    height: 1000px;
    width: 1600px;

}
